{% extends "base.html" %} {% block title %}About{% endblock %} 

{% block content %}

<!doctype html>
<html>
    <head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}" />
      <script src="{{ url_for('static', filename='about.js') }}"></script>
      
      <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Black+Ops+One&family=Creepster&family=La+Belle+Aurore&family=MedievalSharp&family=Orbitron&family=Rye&display=swap" rel="stylesheet">
    </head>
    <body>
        <img src="{{ url_for('static', filename='mine.jpg') }}" width="30%">
        <h1>Hi,My Name is Deepanshu</h1>
        <h2>Fun Facts About Me: </h2>
        <ul>
            <li>18 Years Old</li>
            <li>Lives In India</li>
            <li>Coding Enthusiast</li>
            <li>Loves Watching Movies</li>
        </ul>
        
        <p>Please Connect With Me on</p><a href="https://twitter.com/DeepanshuDipxsy">Twitter Here</a>
        
    </body>
</html>

{% endblock %}




























